body{
    background-color: turquoise;
    color: rgb(66, 61, 10);
}
.parrafo{
    color: rgb(185, 122, 194);
}
h1{
    color: #efb810;
    padding-left: 1rem;
    padding-bottom: 5px;
    margin-bottom: 1rem;
    background-color: black;
    text-align: center;
}
.li{
    display: inline-block
}
.boton{
    background-color: gray;
    border-radius: 30px;
    padding: 1rem;
    text-decoration: none;
    font-weight: 700;
    color: #fff;
}








